* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: #1f3c88;
}

.navlinks {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navlinks a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.usernamebtn {
    border: none;
    background-color: #dff1ff;
    color: #1da1f2;
    padding: 12px 22px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}

.hero {
    width: 100%;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
    gap: 40px;
}

.herotext {
    flex: 1;
}

.herotext h1 {
    font-size: 60px;
    line-height: 1.2;
    color: #3d4b63;
    margin-bottom: 20px;
}

.herotext span {
    color: #1da1f2;
}

.herotext p {
    color: #6d6d6d;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.bookbtn {
    border: none;
    background-color: #1da1f2;
    color: white;
    padding: 18px 35px;
    border-radius: 14px;
    font-size: 18px;
    cursor: pointer;
}

.heroimage {
    flex: 1;
    display: flex;
    justify-content: center;
}

.heroimage img {
    width: 100%;
    max-width: 450px;
}

.hamburgercontainer {
    display: none;
    position: relative;
}

.menubtn {
    border: none;
    background-color: transparent;
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    color: #1f3c88;
}

.menubtn:focus {
    border-radius: 6px;
}

.mobilemenu {
    position: absolute;
    top:55px;
    width: 60vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}

.mobilemenu a {
    text-decoration: none;
    color: white;
    padding: 18px;
}


.hamburgercontainer:focus-within .mobilemenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px;
    }

    .navlinks {
        display: none;
    }

    #mobilenone {
        display: none;
    }

    .hamburgercontainer {
        display: block;
    }

    .logo {
        font-size: 32px;
    }

    .hero {
        flex-direction: column;
        padding: 30px 20px;
    }

    .herotext h1 {
        font-size: 42px;
    }

    .herotext p {
        font-size: 18px;
    }

    .heroimage img {
        max-width: 320px;
    }
}